<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{carDescription.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{carDescription.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/carDescriptions}" th:text="#{carDescription.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('carDescription')}" />
            <form th:action="${T(io.integratedproject.spring_car_rental.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='carDescription', field='model')}" />
                <div th:replace="~{fragments/forms::inputRow(object='carDescription', field='brand')}" />
                <div th:replace="~{fragments/forms::inputRow(object='carDescription', field='color')}" />
                <div th:replace="~{fragments/forms::inputRow(object='carDescription', field='imgUrl')}" />
                <div th:replace="~{fragments/forms::inputRow(object='carDescription', field='pricePerHour')}" />
                <div th:replace="~{fragments/forms::inputRow(object='carDescription', field='maxSpeed', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='carDescription', field='maxPower', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='carDescription', field='seatNumber', type='number')}" />
                <input type="submit" th:value="#{carDescription.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
